<div class="container">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid m-0">
            <a class="navbar-brand" href="#">
                <img src="./../../../assets/Logo.svg" alt="">
            </a>
            <div class="search">
                <table>
                    <tr>
                        <td>
                            <input name="Search..." id="">
                        </td>
                        <td>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </td>
                    </tr>
                </table>
                <button>
                    <span><i class="fa-solid fa-plus"></i>New Ptoject</span>
                </button>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="change">
                    <div type="" class="position-relative">
                        <i class="fa-thin fa-bell"></i>
                        <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                          <span class="visually-hidden">New alerts</span>
                        </span>
                      </div>
                    <span class="notify d-none">Notifications</span>
                </div>

            </div>
        </div>
    </nav>
</div>
